/.gradle/
/.idea/
/.svn/
*.iml
/build/
/out/
/gen/
.classpath
.project
.settings/
bin/
gradlew
gradlew.bat
QQdexpose/gradle/
QQdexpose/.gradle/
QQdexpose/.idea/
QQdexpose/.svn/
QQdexpose/*.iml
QQdexpose/build/
QQdexpose/out/
QQdexpose/gen/
QQdexpose/.classpath
QQdexpose/.project
QQdexpose/.settings/
QQdexpose/bin/
QQdexpose/gradlew
QQdexpose/gradlew.bat
QQdexposePatch/gradle/
QQdexposePatch/.gradle/
QQdexposePatch/.idea/
QQdexposePatch/.svn/
QQdexposePatch/*.iml
QQdexposePatch/build/
QQdexposePatch/out/
QQdexposePatch/gen/
QQdexposePatch/.classpath
QQdexposePatch/.project
QQdexposePatch/.settings/
QQdexposePatch/bin/
QQdexposePatch/gradlew
QQdexposePatch/gradlew.bat
